extends base

block content
    form(method="POST") 
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(name="description", value= video.description, placeholder="Description", type="text", minlength=20, required)
        input(name="hashtags", value=video.hashtags.join(), placeholder="Hashtags, Seperated by comma", type="text", required)
        input(value="save", type="submit")
